<div class="container" style="text-align:center">
  <h3>{{ saudacoes }} Hoje é dia {{ hoje | date:'dd/MM/yyyy'}} - Bom trabalho!</h3>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">
        <img width="60" class="d-inline-block align-top" alt="Jiva Controle Financeiro" 
             src="assets\imagens\index.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
              data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-lancamentos" routerLinkActive="active">
                <img style="vertical-align: top !important;" src="assets\imagens\consultar.png" 
                     width="30" height="30" class="d-inline-block align-top" alt="Tela Lançamentos">
                Lançamentos Financeiros
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/app-lancamentos-edit" routerLinkActive="active">
                  <img style="vertical-align: top !important;" src="assets\imagens\nova.png" width="30" 
                  height="30" class="d-inline-block align-top" alt="Novo Lançamento">
                  Novo Lançamento
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-grafico" routerLinkActive="active">
                <img style="vertical-align: top !important;" src="assets\imagens\grafico.png" width="30" 
                height="30" class="d-inline-block align-top" alt="Gráfico">
                Gráfico
            </a>
          </li>
        </ul>
      </div>
  </nav>
  <router-outlet></router-outlet>
</div>